<h1>Editing Projector Rental</h1>

<%= render "rental_adjustment", projector_rental: @projector_rental %>

<br>

<div>
  <%= link_to "Show this projector_rental", @projector_rental %> |
  <%= link_to "Back to projector_rentals", stagegear_projector_rentals_path %>
</div>
